@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("fonts/nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url("fonts/nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 600;
  src: url("fonts/nunito/Nunito-SemiBold.ttf") format("truetype");
}
html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}

html::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-drag: none;
}

body {
  margin: 0;
  font-family: Nunito, proxima-soft, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
  line-height: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  color: black;
  cursor: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M62.361,54.641c-2.27,2.632-6.239,2.929-8.871,0.658L14.524,21.698l2.854,23.228c0.421,3.448-2.032,6.587-5.479,7.012 c-3.449,0.426-6.59-2.027-7.012-5.479L0.047,7.06c-0.22-1.789,0.337-3.586,1.533-4.938C2.774,0.773,4.491,0,6.292,0h39.69 c3.477,0,6.291,2.816,6.291,6.292c0,3.475-2.814,6.292-6.291,6.292H23.225l38.482,33.184 C64.339,48.037,64.632,52.012,62.361,54.641z'/%3E%3C/g%3E%3C/svg%3E") 2 2, default;
}

.icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.button {
  border: 0.8vh solid black;
  border-radius: 3.5vh;
  background: #ffffff;
  text-align: center;
  line-height: 100%;
  padding: 0.5em;
  transition: 0.1s ease-in-out;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  cursor: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M17.412,6.259l9.353,10.896l16.571-5.636l10.517,6.065l8.59,21.222L40.854,57.445l-14.268-7.589 l-13.581-1.033C2.717,48.046,2.875,35.151,13.282,35.94l11.598,0.826L6.617,15.537C-1.377,6.232,9.586-2.848,17.412,6.259z'/%3E%3Cpath d='M64.193,37.296c0.706,1.745,0.221,3.748-1.204,4.979L42.46,59.993c-1.373,1.187-3.333,1.406-4.937,0.555l-12.751-6.784 l-11.994-0.911c-0.002,0-0.002,0-0.002,0C5.825,52.325,1.37,47.355,1.464,41.711c0.045-2.725,1.2-5.437,3.483-7.36 c2.294-1.934,5.359-2.773,8.746-2.52c0.004,0.002,0.008,0.002,0.009,0.002l0.479,0.034L3.7,19.683 c-2.457-2.86-3.753-6.063-3.713-9.25C0.028,7.243,1.418,4.396,3.689,2.48c4.803-4.052,11.987-3.118,16.943,2.649l6.958,8.107 l12.945-4.402c1.198-0.408,2.515-0.277,3.612,0.354l9.997,5.768c0.852,0.49,1.513,1.25,1.881,2.159L64.193,37.296z M54.859,37.676 l-6.418-15.859l-6.961-4.016l-13.873,4.717c-1.701,0.578-3.581,0.065-4.752-1.298l-8.891-10.359c0-0.002,0-0.002,0-0.002 c-0.002,0,0,0,0,0c-1.289-1.497-2.419-1.935-3.095-2.03C10.183,8.73,9.68,8.931,9.359,9.201c-0.313,0.265-0.57,0.696-0.578,1.342 c-0.009,0.65,0.244,1.844,1.587,3.409l17.364,20.186c1.159,1.345,1.394,3.256,0.597,4.841c-0.798,1.586-2.471,2.538-4.242,2.411 L13.04,40.602c-1.558-0.118-2.219,0.297-2.427,0.472c-0.223,0.188-0.352,0.444-0.357,0.785c-0.006,0.353,0.129,0.805,0.526,1.214 c0.374,0.382,1.151,0.899,2.659,1.014h0.002l12.912,0.979c0.606,0.047,1.195,0.219,1.731,0.504l10.907,5.802L54.859,37.676z'/%3E%3C/g%3E%3C/svg%3E") 2 2, default;
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(0.98);
}

.main-screen {
  height: 200vh;
  transition: transform 1s ease-in-out;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
}
.overlay .close {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}
.overlay .close p {
  transform: translate(0, 2px);
}
.overlay .instructions {
  text-align: center;
  margin-top: 5vh;
}
.overlay .interface-wrapper {
  width: 60vw;
  border: solid black 0.8vh;
  border-radius: 5vh;
  background-color: white;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.robo-chooser-overlay .interface-wrapper {
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button {
  margin: 1vh;
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  width: 17vh;
  border: solid black 0.8vh;
  border-radius: 5vh;
  padding: 0.2em;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .robo-icon {
  height: 70%;
  transform: scale(1.5, 1.5);
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .robo-name {
  margin: 0;
  margin-top: 2.5vh;
  font-size: 1.6vw;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .info-text {
  font-size: 2.5vh;
  width: 12vh;
  text-align: left;
  line-height: 1.2;
  margin-left: 1vh;
  margin-top: 1vh;
  padding-left: 2vh;
  margin-block-end: 0;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .button-wrapper {
  margin-top: 1vh;
  justify-content: space-around;
  width: 100%;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .button-wrapper .claim-button {
  font-size: 3vh;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .button-wrapper .wave-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .button-wrapper .wave-button .wave-emoji {
  width: 1vh;
  transform-origin: center;
  transform: scale(5) translate(0.07vh, -0.33vh);
}
.robo-chooser-overlay .interface-wrapper .robo-chooser-button .button {
  border-radius: 2.5vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  height: 3vh;
}
.robo-chooser-overlay .interface-wrapper .active {
  flex-wrap: wrap;
  flex-direction: row;
  width: 30vh;
}
.robo-chooser-overlay .interface-wrapper .active:hover {
  transform: scale(1);
}
.robo-chooser-overlay .interface-wrapper .active:active {
  transform: scale(1);
}

.save-load-overlay {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.save-load-overlay .instructions {
  margin-top: 15vh;
}
.save-load-overlay .interface-wrapper {
  height: 30vh;
  width: 60vh;
  margin-top: 0;
  padding: 5vh;
  display: flex;
  justify-content: space-between;
}
.save-load-overlay .interface-wrapper .button {
  height: auto;
  width: auto;
}
.save-load-overlay .interface-wrapper .button .icon {
  min-width: 20vh;
}
.save-load-overlay .interface-wrapper .button p {
  margin: 0;
}

.help-overlay .interface-wrapper .help-text {
  width: 100%;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
}

.drawing-overlay .interface-wrapper {
  border: none;
  background-color: transparent;
  width: 45vh;
  height: 60vh;
}
.drawing-overlay .interface-wrapper .canvas-panel {
  border: 0.8vh solid black;
  border-radius: 1.5rem;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
.drawing-overlay .interface-wrapper .canvas-panel .canvas-wrapper {
  width: 40vh !important;
  height: 40vh !important;
  margin-top: 2.2vh;
  border: 0.8vh solid black;
  border-radius: 1.5rem;
  box-sizing: border-box;
  position: relative;
}
.drawing-overlay .interface-wrapper .canvas-panel .canvas-wrapper .path-drawing-canvas {
  cursor: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M7.034,21.293L4.664,5.832l15.555-1.197l39.21,30.644L46.244,51.938L7.034,21.293z'/%3E%3Cpath d='M49.912,54.803c-1.592,2.013-4.525,2.361-6.551,0.777L4.152,24.936c-0.932-0.728-1.55-1.779-1.729-2.944L0.054,6.53 C-0.142,5.256,0.205,3.959,1.013,2.95c0.805-1.01,2-1.64,3.293-1.739l15.555-1.197c1.167-0.089,2.324,0.26,3.243,0.978 l39.21,30.645c2.025,1.582,2.375,4.497,0.782,6.509L49.912,54.803z M52.88,36.058L18.767,9.396l-8.734,0.672l1.335,8.716 l34.094,26.645L52.88,36.058z'/%3E%3C/g%3E%3C/svg%3E") 2 2, default;
}
.drawing-overlay .interface-wrapper .canvas-panel .canvas-wrapper .indicator {
  width: 9%;
  height: 9%;
  position: absolute;
  top: 4%;
  left: 4%;
  border-radius: 50%;
  opacity: 1;
}
.drawing-overlay .interface-wrapper .canvas-panel .canvas-wrapper .path-drawing-canvas {
  box-sizing: border-box;
}
.drawing-overlay .interface-wrapper .canvas-panel .draw-icon {
  width: 10vh;
  pointer-events: none;
  -webkit-user-drag: none;
}
.drawing-overlay .interface-wrapper .interface-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 1vh;
}
.drawing-overlay .interface-wrapper .interface-buttons img {
  transform: scale(1.3, 1.3);
}
.drawing-overlay .interface-wrapper .interface-buttons .interface-button {
  border: 0.8vh solid black;
  border-radius: 2.5vh;
  padding: 0.3rem;
  width: 5vh;
  height: 5vh;
  margin-left: 1vh;
}
.drawing-overlay .interface-wrapper .interface-buttons .delete {
  margin-left: 0;
  margin-right: auto;
  transition: 0.25s ease-in-out;
}
.drawing-overlay .interface-wrapper .interface-buttons .delete:active {
  background: #EA5A47;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
.main-menu {
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-menu .buttons-top {
  width: 100%;
  height: auto;
  display: flex;
  padding: 2vh;
  padding-bottom: 1vh;
  z-index: 20;
  pointer-events: none;
  box-sizing: border-box;
}
.main-menu .buttons-top .button {
  pointer-events: auto;
  width: 6vh;
  padding: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu .buttons-top .button img {
  transform: scale(2, 2) translate(0, 0.5px);
}
.main-menu .buttons-top .robo-button {
  align-self: flex-start;
}
.main-menu .buttons-top .save-button {
  align-self: flex-end;
  margin-right: 2vh;
  margin-left: auto;
}
.main-menu .buttons-top .save-button img {
  transform: scale(1.5, 1.5);
}
.main-menu .buttons-top .help-button {
  align-self: flex-end;
}
.main-menu .buttons-top .help-button img {
  transform: scale(1.8, 1.8);
}
.main-menu .wrapper-emotion {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3vw;
  row-gap: 1vh;
}
.main-menu .wrapper-emotion .button {
  padding: 1.5vw;
  border-radius: 6vh;
  height: fit-content;
}
.main-menu .wrapper-emotion .button .button-content {
  display: flex;
  flex-direction: column;
}
.main-menu .wrapper-emotion .button .button-content img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
}
.main-menu .wrapper-emotion .button .button-content .button-text {
  margin: 0;
  font-size: 4vh;
}
.main-menu .buttons-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
  margin-top: 4vh;
}
.main-menu .buttons-bottom .camera-button {
  display: flex;
  height: 2vh;
  justify-content: space-between;
  padding: 3vh;
  padding-right: 1vh;
  padding-left: 2.5vh;
  align-items: center;
}
.main-menu .buttons-bottom .camera-button p {
  margin-right: 1vh;
  transform: translate(0px, -1px);
}
.main-menu .buttons-bottom .camera-button img {
  max-width: none;
  max-height: none;
  width: 9vh;
  height: 9vh;
  margin-right: 0.5vh;
  transform: translate(0, 1px);
}

.camera-wrapper {
  position: absolute;
  top: 105vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.camera-wrapper .camera-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(45vh + 7vh);
  width: calc(calc((45vh/9) * 16) + 7vh);
  border: 0.8vh solid black;
  border-radius: 6vh;
}
.camera-wrapper .camera-border .camera {
  position: relative;
  overflow: hidden;
  height: 45vh;
  width: calc((45vh/9) * 16);
  border: 0.8vh solid black;
  border-radius: 3.5vh;
}

.donut-wrapper {
  position: absolute;
  top: 165vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donut-wrapper .inner-donut-wrapper {
  width: 15vh;
  object-fit: contain;
  position: relative;
}
.donut-wrapper .inner-donut-wrapper img {
  width: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  transform: scale(0.6, 0.6);
}
.donut-wrapper .inner-donut-wrapper .donut {
  top: 0;
  position: absolute;
  object-fit: contain;
  width: 100%;
  transform: rotate(-90deg) scale(3, 3);
}

.cam-video {
  display: block;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.emoji-canvas {
  position: absolute;
  top: -45vh;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  pointer-events: none;
}
/*# sourceMappingURL=_maps/style.css.map */
