
.cam-video {
    display: block;        
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;        
}

.emoji-canvas {
    position: absolute;
    top: #{$cam_height * - 1};
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    pointer-events: none;
}



