.overlay
    height: 100vh
    width: 100vw
    background: rgba(255,255,255,0.7)
    position: fixed
    top: 0
    z-index: 1
    display: none

    .close
        position: fixed
        top: 10px
        right: 10px
        width: 6vh
        height: 6vh
        display: flex
        justify-content: center
        align-items: center
        padding: 2vh
        p
            transform: translate(0, 2px)
    
    .instructions
        text-align: center
        margin-top: 5vh

    .interface-wrapper
        width: 60vw 
        border: solid black $stroke-weight 
        border-radius: 5vh
        background-color: white
        margin: auto
        display: flex
        flex-wrap: wrap
        justify-content: center 

.robo-chooser-overlay
    .interface-wrapper
        padding: 2vh
        display: flex
        flex-wrap: wrap
        justify-content: center
        overflow-y: auto
        overflow-x: hidden
        .robo-chooser-button
            margin: 1vh
            display: flex
            flex-direction: column
            max-height: 20vh
            width: 17vh
            border: solid black $stroke-weight
            border-radius: 5vh
            .robo-icon
                height: 70% 
                transform: scale(1.5, 1.5)
            .robo-name
                margin: 0
                margin-top: 2.5vh
            .info-text
                font-size: 2.5vh
                width: 12vh
                text-align: left
                line-height: 1.2
                margin-left: 1vh
                margin-top: 1vh
                padding-left: 2vh
                margin-block-end: 0
            .button-wrapper
                margin-top: 1vh
                justify-content: space-around
                width: 100%
                .claim-button
                    font-size: 3vh
                .wave-button 
                    display: flex
                    align-items: center
                    justify-content: center
                    .wave-emoji
                        width: 1vh
                        transform-origin: center
                        transform: scale(5) translate(.07vh, -.33vh)
            .button
                border-radius: 2.5vh
                padding-top: .5vh
                padding-bottom: .5vh
                height: 3vh

        .active
            // flex-grow: 1
            flex-wrap: wrap
            flex-direction: row
            width: 30vh
            &:hover
                transform: scale(1.00)
        
            &:active
                transform: scale(1.00)
            


.save-load-overlay
    flex-direction: column
    justify-content: center
    align-items: center
    .instructions
        margin-top: 15vh
    .interface-wrapper
        height: 30vh
        width: 60vh
        margin-top: 0
        padding: 5vh
        display: flex
        justify-content: space-between
        .button
            height: auto
            width: auto
            .icon
                min-width: 20vh
            p
                margin: 0

.help-overlay
    .interface-wrapper
        .help-text 
            width: 100%
            padding-left: 2vh
            padding-right: 2vh
            text-align: center

.drawing-overlay
    .interface-wrapper
        border: none
        background-color: transparent
        width: 45vh
        height: 60vh
        .canvas-panel            
            border: $stroke-weight solid black
            border-radius: 1.5rem
            min-width: 100%
            display: flex
            flex-direction: column
            align-items: center
            background-color: #FFFFFF
            box-sizing: border-box // WHY do i need this if i have border box defined in html
        
            .canvas-wrapper
                width: 40vh !important
                height: 40vh !important
                margin-top: 2.2vh
                border: $stroke-weight solid black
                border-radius: 1.5rem
                box-sizing: border-box
                position: relative

                .path-drawing-canvas
                    cursor: url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='64px' height='64px' viewBox='0 0 64 64' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M7.034,21.293L4.664,5.832l15.555-1.197l39.21,30.644L46.244,51.938L7.034,21.293z'/%3E%3Cpath d='M49.912,54.803c-1.592,2.013-4.525,2.361-6.551,0.777L4.152,24.936c-0.932-0.728-1.55-1.779-1.729-2.944L0.054,6.53 C-0.142,5.256,0.205,3.959,1.013,2.95c0.805-1.01,2-1.64,3.293-1.739l15.555-1.197c1.167-0.089,2.324,0.26,3.243,0.978 l39.21,30.645c2.025,1.582,2.375,4.497,0.782,6.509L49.912,54.803z M52.88,36.058L18.767,9.396l-8.734,0.672l1.335,8.716 l34.094,26.645L52.88,36.058z'/%3E%3C/g%3E%3C/svg%3E") 2 2, default

                .indicator
                    width: 9%
                    height: 9%
                    position: absolute
                    top: 4%
                    left: 4%
                    border-radius: 50%
                    opacity: 1.0

                .path-drawing-canvas              
                    box-sizing: border-box

            .draw-icon
                width: 10vh
                //disables selecting
                pointer-events: none
                -webkit-user-drag: none
                
        .interface-buttons
            width: 100%
            display: flex
            justify-content: flex-end
            flex-direction: row
            margin-top: 1vh
            img 
                transform: scale(1.3,1.3)


            .interface-button
                border: $stroke-weight solid black
                border-radius: 2.5vh
                padding: .3rem
                width: 5vh
                height: 5vh
                margin-left: 1vh
                //min-width: 8vh
                //min-height: 8vh
            
            .delete
                margin-left: 0
                margin-right: auto
                transition: 0.25s ease-in-out
                &:active
                    background: #EA5A47

@keyframes blinking
    50%
        opacity: 0.0
        

@keyframes fadeout
    100%
        opacity: 0.0
        