.wrapper-emotion
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: stretch
    overflow: auto
    gap: 3vw
    padding-top: calc(4vw + 0.5em + var(--margin-site) * 2)
    +desktop
        align-content: center
